# SPDX-License-Identifier: MIT OR LGPL-2.0-or-later
# SPDX-FileCopyrightText: 2025 Philip Chimento <philip.chimento@gmail.com>

Checks:
  - -*
  - bugprone-argument-comment
  - bugprone-assert-side-effect
  - bugprone-branch-clone
  - bugprone-implicit-widening-of-multiplication-result
  - bugprone-macro-parentheses
  - bugprone-reserved-identifier
  - bugprone-sizeof-expression
  - bugprone-suspicious-string-compare
  - bugprone-switch-missing-default-case
  - bugprone-unhandled-self-assignment
  - bugprone-use-after-move
  - modernize-*
  - -modernize-avoid-c-arrays  # churn; possibly unavoidable in marshalling
  - -modernize-deprecated-headers  # churn; stylistic; awkward with C/C++ mix
  - -modernize-use-trailing-return-type  # churn; stylistic
CheckOptions:
  bugprone-assert-side-effect.AssertMacros: assert,g_assert
  bugprone-reserved-identifier.AllowedIdentifiers: _GNU_SOURCE
  bugprone-suspicious-string-compare.WarnOnLogicalNotComparison: true
  bugprone-suspicious-string-compare.StringCompareLikeFunctions: "g_strcmp0,\
    g_ascii_strcasecmp,g_ascii_strncasecmp"
  bugprone-use-after-move.InvalidationFunctions: g_steal_pointer
  modernize-type-traits.IgnoreMacros: true  # triggers on glib_typeof
  modernize-use-auto.MinTypeNameLength: 10  # consider shrinking later?
  modernize-use-emplace.SmartPointers: Gjs::AutoPointer;JS::UniqueChars
  modernize-use-using.IgnoreExternC: true
ExcludeHeaderFilterRegex: /include|/subprojects|config.h
HeaderFilterRegex: .*
UseColor: true
WarningsAsErrors: '*'
