# SPDX-License-Identifier: MIT OR LGPL-2.0-or-later
# SPDX-FileCopyrightText: 2024 Philip Chimento <philip.chimento@gmail.com>

Diagnostics:
  ClangTidy:
    Remove: bugprone-sizeof-expression  # Interferes with g_clear_pointer()
