# SPDX-License-Identifier: MIT OR LGPL-2.0-or-later
# SPDX-FileCopyrightText: 2025 Philip Chimento <philip.chimento@gmail.com>

Checks:
  - -*
  - modernize-use-using
CheckOptions:
  modernize-use-using.IgnoreExternC: true
ExcludeHeaderFilterRegex: /include|/subprojects
HeaderFilterRegex: .*
UseColor: true
WarningsAsErrors: '*'
