---
# Global Options Go Here
IndentWidth: 4
ColumnLimit: 80
---
Language: Cpp
BasedOnStyle: Google
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ForEachMacros: []
IndentWidth: 4
---
# We rely mostly on eslint for JavaScript linting, but this is a lax collection
# of rules that will auto-fix some JS things. We really should use eslint --fix
# instead, but we need to find a way to get that to operate on diffs like
# clang-format does.
Language: JavaScript
AlignAfterOpenBracket: DontAlign
JavaScriptQuotes: Single
PenaltyBreakBeforeFirstCallParameter: 1000000
PenaltyExcessCharacter: 1
SpacesInContainerLiterals: false
...
