# SPDX-License-Identifier: MIT OR LGPL-2.0-or-later
# SPDX-FileCopyrightText: 2018 Claudio André <claudioandre.br@gmail.com>

installed-tests/js/jasmine.js
installed-tests/js/modules/badOverrides/WarnLib.js
installed-tests/js/modules/subBadInit/__init__.js
modules/script/jsUnit.js
/_*/
/builddir
modules/internal/source-map/
installed-tests/debugger/sourcemap*
test/source-maps/
