# SPDX-License-Identifier: MIT OR LGPL-2.0-or-later
# SPDX-FileCopyrightText: 2018 Claudio André <claudioandre.br@gmail.com>

installed-tests/js/jasmine.js
installed-tests/js/modules/badOverrides/WarnLib.js
# Until ESLint merges class fields.
# https://github.com/eslint/eslint/issues/14343
modules/esm/_encoding/encoding.js
modules/script/jsUnit.js
