services:
  - docker

stages:
- static_analysis
- build
- thorough_tests
- docs

.build: &build
  when: on_success
  artifacts:
    name: log
    when: always
    paths:
    - $(pwd)/.cache/jhbuild/build/gjs/test-suite.log
    - $(pwd)/.cache/jhbuild/build/gjs/config.log
    - $(pwd)/.cache/jhbuild/build/gjs/Makefile
    - $(pwd)/coverage/

  script:
    # Run static code analysis OR
    # Build dependencies and 'make check' gjs
    - 'if [[ -n "${CODECHECK}" ]]; then
         $(pwd)/test/test-ci.sh "$CODECHECK";
       else
         $(pwd)/test/test-ci.sh GJS "$DEV";
       fi'

    # Run extra tests
    - 'if [[ $BUILD_OPTS == *"--enable-installed-tests"* ]]; then
         $(pwd)/test/test-ci.sh GJS_EXTRA;
       fi'

    # Run code coverage tests
    - 'if [[ $BUILD_OPTS == *"--enable-code-coverage"* ]]; then
         $(pwd)/test/test-ci.sh GJS_COVERAGE;
       fi'

ubuntu_gcc:
  <<: *build
  stage: build
  image: claudioandre/spidermonkey:ubuntu.dev.gcc
  variables:
    CC: gcc
    DEV: devel
    BUILD_OPTS: "--enable-installed-tests"
  only:
    - master@GNOME/gjs

ubuntu_clang:
  <<: *build
  stage: build
  image: claudioandre/spidermonkey:ubuntu.dev.gcc
  variables:
    CC: clang
    DEV: devel
    BUILD_OPTS: "--enable-installed-tests"
  only:
    - master@GNOME/gjs

fedora_gcc:
  <<: *build
  stage: build
  image: claudioandre/spidermonkey:fedora.dev.gcc
  variables:
    CC: gcc
    DEV: devel
    BUILD_OPTS: "--enable-ubsan"

fedora_clang:
  <<: *build
  stage: build
  image: claudioandre/spidermonkey:new-342.4  # temporarily pinned to old tag
  variables:
    CC: clang
    DEV: devel
    BUILD_OPTS: "--enable-ubsan"
  except:
    - /^wip\/.*/
  allow_failure: true

coverage:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:fedora.27.gcc
  variables:
    CC: gcc
    BUILD_OPTS: "--enable-code-coverage"
    coverage: '/^Lines:.\d+.\d+.(\d+\.\d+\%)/'
  except:
    - /^wip\/.*/

codequality:
  stage: thorough_tests
  image: docker:latest
  variables:
    DOCKER_DRIVER: overlay
  services:
    - docker:dind
  script:
    - docker pull codeclimate/codeclimate
    - docker run --env CODECLIMATE_CODE="$PWD" --volume "$PWD":/code --volume /var/run/docker.sock:/var/run/docker.sock --volume /tmp/cc:/tmp/cc codeclimate/codeclimate analyze -f json > codeclimate.json
  artifacts:
    paths: [codeclimate.json]
  except:
    - /^wip\/.*/

cppcheck:
  <<: *build
  stage: static_analysis
  image: claudioandre/spidermonkey:fedora.dev.gcc
  variables:
    CODECHECK: "CPPCHECK"

code_statistics:
  <<: *build
  stage: static_analysis
  image: claudioandre/spidermonkey:fedora.dev.gcc
  variables:
    CODECHECK: "TOKEI"

# Publish Code Coverage Report
pages:
  stage: docs
  dependencies:
    - coverage
  script:
    - mv $(pwd)/coverage/ public/
  artifacts:
    paths:
      - public
  only:
    - master@GNOME/gjs
