*.la
*.lo
*.o
*.gir
*.typelib
*~
.deps/
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gjs-1.0.pc
gjs-console
gjs-internals-1.0.pc
gjs-gi-1.0.pc
gjs-tests
gjs-unit
gjs/gjs.stp
gjs_gi_probes.h
install-sh
libtool
ltmain.sh
missing
stamp-h1
test_user_data
uninstalled-test-bus.conf
uninstalled-system-test-bus.conf
valgrind.gjs-tests.log
valgrind.gjs-unit.log
installed-tests/gjs-installed-tests
installed-tests/gjs-installed-tests.testmeta
jsunit
jsunit.test
testSystemExit.test
modules-resources.[ch]
