services:
  - docker

stages:
- source_check
- test
- thorough_tests
- delivery

.CI_header: &CI_header  'echo;
       echo "*********************************************";
       echo "***     JavaScript bindings for GNOME     ***";
       echo "***        Continuous Integration         ***";
       echo "*********************************************";
       echo;
    '
.CI_footer: &CI_footer 'echo;
       echo "*********************************************";
       echo "***             See you soon              ***";
       echo "*********************************************";
    '

.JHBuild files: &JHB_files  [.cache/jhbuild/build/gjs/*.log, .cache/jhbuild/build/gjs/Makefile, .cache/jhbuild/build/gjs/configure]
.Coverage files: &cov_files [.cache/jhbuild/build/gjs/*.log, .cache/jhbuild/build/gjs/Makefile, .cache/jhbuild/build/gjs/configure, coverage/]
.Regular files: &reg_files  [configure, Makefile, analysis/, ./*.log, gjs-1.*/_build/sub/test-suite.log]
.Flatpak files: &pak_files  [./*.flatpak]

.jhbuild: &jhbuild
  artifacts:
    name: log_jhbuild
    when: always
    paths: *JHB_files

.coverage: &coverage
  artifacts:
    name: log_coverage
    when: always
    paths: *cov_files

.package: &package
  artifacts:
    name: log_package
    paths: *pak_files

.build: &build
  when: on_success
  artifacts:
    name: log
    when: always
    paths: *reg_files

  script:
    # CI starts here. Previous messages are from GitLab Runner setup.
    - *CI_header

    # Only in case of a scheduled run
    # Verify that the current job should run.
    - test/test-ci.sh RUN_JOB "$TASK_ID"
    - 'if [[ -f quit.ci ]]; then
         cat quit.ci;
         exit 0;
       fi
    '

    # GitLab is keeping some files between jobs. Remove them.
    - rm -rf configure Makefile *.log analysis

    # Run static code analysis	OR
    # Build GJS
    - 'if [[ -n "${CODECHECK}" ]]; then
         $(pwd)/test/test-ci.sh "$CODECHECK";
       else
         $(pwd)/test/test-ci.sh GJS;
       fi
    '

    # Run installed extra tests
    - 'if [[ $BUILD_OPTS == *"--enable-installed-tests"* ]]; then
         $(pwd)/test/test-ci.sh GJS_EXTRA;
       fi
    '

    # Run code coverage tests
    - 'if [[ $BUILD_OPTS == *"--enable-code-coverage"* ]]; then
         $(pwd)/test/test-ci.sh GJS_COVERAGE;
       fi
    '

    # Run valgrind
    - 'if [[ $BUILD_OPTS == *"--enable-valgrind"* ]]; then
         $(pwd)/test/test-ci.sh VALGRIND;
       fi
    '

    # Done
    - *CI_footer

#############################################
# Regular tests
#############################################
# Test despite any changes in the Docker image
# SpiderMonkey has been configured with --enable-debug
fedora:
  <<: *build
  stage: source_check
  image: claudioandre/spidermonkey:job-485.9_SM52-debug-gcc.fedora-dev  # pinned on purpose
  variables:
    TASK_ID: "fedora-x86_64-gcc-debug-default-check"
    TEST: "check"
    WARNINGS: "count"

sanitizer_gcc:
  <<: *build
  stage: test
  image: claudioandre/spidermonkey:SM52-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-ubsan_asan-check"
    BUILD_OPTS: "--enable-asan --enable-ubsan"
    TEST: "check"

# There are a lot of debug log statements that are ifdef'd out in normal usage.
# These sometimes get invalid expressions in them, leading to annoyance the
# next time you try to use debug logging.
with_logging:
  <<: *build
  stage: test
  image: claudioandre/spidermonkey:new-342.4  # temporarily pinned to old tag
  variables:
    TASK_ID: "fedora-x86_64-clang-default-logging-check"
    CC: clang
    BUILD_OPTS: CPPFLAGS='-DGJS_VERBOSE_ENABLE_PROPS=1 -DGJS_VERBOSE_ENABLE_MARSHAL=1 -DGJS_VERBOSE_ENABLE_LIFECYCLE=1 -DGJS_VERBOSE_ENABLE_GI_USAGE=1 -DGJS_VERBOSE_ENABLE_CLOSURE=1 -DGJS_VERBOSE_ENABLE_GSIGNAL=1'
    TEST: "check"

no_graphics:
  <<: *build
  stage: test
  image: claudioandre/spidermonkey:SM52-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-without_gtk-check"
    TEST: "check"
    BUILD_OPTS: "--without-cairo --without-gtk"

no_profiler:
  <<: *build
  stage: test
  image: claudioandre/spidermonkey:SM52-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-disable_profiler-check"
    TEST: "check"
    BUILD_OPTS: "--disable-profiler"

#############################################
# Static Analyzers
#############################################
cppcheck:
  <<: *build
  stage: source_check
  image: claudioandre/spidermonkey:fedora.static-analysis
  variables:
    TASK_ID: "cppcheck"
    CODECHECK: "CPPCHECK"

cpplint:
  <<: *build
  stage: source_check
  image: claudioandre/spidermonkey:fedora.static-analysis
  variables:
    TASK_ID: "cpplint"
    CODECHECK: "CPPLINT"

eslint:
  <<: *build
  stage: source_check
  image: claudioandre/spidermonkey:fedora.static-analysis
  variables:
    TASK_ID: "eslint"
    CODECHECK: "ESLINT"

#############################################
# Daily jobs / Frequent jobs
#############################################
codequality:
  stage: source_check
  image: docker:latest
  variables:
    TASK_ID: "codequality"
    DOCKER_DRIVER: overlay
  services:
    - docker:dind
  script:
    - docker pull codeclimate/codeclimate
    - docker run --env CODECLIMATE_CODE="$PWD" --volume "$PWD":/code --volume /var/run/docker.sock:/var/run/docker.sock --volume /tmp/cc:/tmp/cc codeclimate/codeclimate analyze -f json > codeclimate.json
  artifacts:
    paths: [codeclimate.json]
  only:
    - schedules
    - master@GNOME/gjs

code_statistics:
  <<: *build
  stage: source_check
  image: claudioandre/spidermonkey:fedora.static-analysis
  variables:
    TASK_ID: "code_statistics"
    CODECHECK: "TOKEI"
  only:
    - schedules

# Generates
# The Code Coverage Report
coverage:
  <<: *build
  <<: *coverage
  stage: source_check
  image: claudioandre/spidermonkey:SM52-gcc.ubuntu-dev
  variables:
    TASK_ID: "coverage"
    BUILD_OPTS: "--enable-code-coverage"
    coverage: '/^Lines:.\d+.\d+.(\d+\.\d+\%)/'
  only:
    - schedules

# Publish
# The Coverage Report generated above
pages:
  stage: delivery
  dependencies:
    - coverage
  script:
    - mv $(pwd)/coverage/ public/
  artifacts:
    paths:
      - public
  only:
    - schedules
    - master@GNOME/gjs

sanitizer_clang:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:new-342.4  # temporarily pinned to old tag
  variables:
    TASK_ID: "fedora-x86_64-clang_ubsan_asan-default-default-check"
    CC: clang
    BUILD_OPTS: "--enable-asan --enable-ubsan"
    TEST: "check"
  only:
    - schedules

fedora_gcc:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:SM52-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-default-distcheck"
    TEST: "distcheck"
  only:
    - schedules

installed_tests:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:SM52-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-default-installed_tests"
    BUILD_OPTS: "--enable-installed-tests --prefix=/usr"
  only:
    - schedules

#############################################
# Weekly jobs / Non-Frequent jobs
#############################################
ubuntu_gcc:
  <<: *build
  stage: source_check
  image: claudioandre/spidermonkey:SM52-gcc.ubuntu-dev
  variables:
    TASK_ID: "ubuntu-x86_64-gcc-default-default-distcheck"
    TEST: "distcheck"
  only:
    - schedules

ubuntu_clang:
  <<: *build
  stage: source_check
  image: claudioandre/spidermonkey:SM52-gcc.ubuntu-dev
  variables:
    TASK_ID: "ubuntu-x86_64-clang-default-default-distcheck"
    CC: clang
    TEST: "distcheck"
  only:
    - schedules

lts:
  <<: *build
  <<: *jhbuild
  stage: thorough_tests
  image: claudioandre/spidermonkey:SM52-gcc.ubuntu-lts
  variables:
    TASK_ID: "ubuntu_lts-x86_64-gcc-default-default-check"
    DEV: jhbuild
    TEST: "check"
  only:
    - schedules

valgrind:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:SM52-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-default-valgrind_check"
    BUILD_OPTS: "--enable-valgrind --disable-valgrind-helgrind --prefix=/usr"
    TEST: "check"
  allow_failure: true
  only:
    - schedules

#############################################
# Flatpak packaging
#############################################
packaging:
  <<: *build
  <<: *package
  stage: delivery
  image: registry.gitlab.gnome.org/gnome/gnome-nightly-oci/nightly:master
  variables:
    TASK_ID: "packaging"
    CODECHECK: "FLATPAK"
    APPID: "org.gnome.GjsDevel"
    BUNDLE: "org.gnome.GjsDevel.flatpak"
    MANIFEST_PATH: "org.gnome.GjsDevel.json"
    RUNTIME_REPO: "https://sdk.gnome.org/gnome-nightly.flatpakrepo"

  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://gitlab.gnome.org/$CI_PROJECT_PATH/-/jobs/$CI_JOB_ID/artifacts/raw/${BUNDLE}
  only:
    - schedules

#############################################
# SpiderMonkey GC Tests
#############################################
zeal_2:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:SM52-debug-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-debug-default-check_zeal2"
    TEST: "check"
    JS_GC_ZEAL: 2
  only:
    - schedules

zeal_4:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:SM52-debug-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-debug-default-check_zeal4"
    TEST: "check"
    JS_GC_ZEAL: 4
  only:
    - schedules

zeal_11:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:SM52-debug-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-debug-default-check_zeal11"
    TEST: "check"
    JS_GC_ZEAL: 11
  only:
    - schedules

#############################################
# Multiarch Tests
#############################################
.qemu: &multiarch
  artifacts:
    name: log
    when: always
    paths: *reg_files

  image: docker:latest
  services:
    - docker:dind
  only:
    - schedules

  script:
    # CI starts here. Previous messages are from GitLab Runner setup.
    - *CI_header

    # Only in case of a scheduled run
    # Verify that the current job should run.
    - test/test-ci.sh RUN_JOB "$TASK_ID"
    - 'if [[ -f quit.ci ]]; then
         cat quit.ci;
         exit 0;
       fi
    '

    # Register QEMU archs
    - docker run --rm --privileged multiarch/qemu-user-static:register --reset

    # Run the multiarch test job using QEMU
    - 'docker run -v $(pwd):/cwd
          -e TEST=check -e TASK_ID=$TASK_ID $IMAGE
          bash -e -c "cd /cwd && test/test-ci.sh GJS"
    '

    # Done
    - *CI_footer

armv8:
  <<: *multiarch
  stage: thorough_tests
  variables:
    TASK_ID: "fedora-armv8-gcc-default-default-check"
    DOCKER_DRIVER: overlay
    IMAGE: "claudioandre/spidermonkey:SM52-gcc.fedora-dev.aarch64"

ppc64le:
  <<: *multiarch
  stage: thorough_tests
  variables:
    TASK_ID: "fedora-ppc64le-gcc-default-default-check"
    DOCKER_DRIVER: overlay
    IMAGE: "claudioandre/spidermonkey:SM52-gcc.fedora-dev.ppc64le"
