*.la
*.lo
*.o
.deps/
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gjs-1.0.pc
gjs-console
gjs-gi-1.0.pc
gjstest.c
gjstest.c.stamp
gjstest.h
gjstest.h.stamp
install-sh
libtool
ltmain.sh
missing
stamp-h1
