services:
  - docker

stages:
- source_check
- test
- thorough_tests
- manual
- deploy

.CI_header: &CI_header  'echo;
       echo "*********************************************";
       echo "***     JavaScript bindings for GNOME     ***";
       echo "***        Continuous Integration         ***";
       echo "*********************************************";
       echo;
    '
.CI_footer: &CI_footer 'echo;
       echo "*********************************************";
       echo "***             See you soon              ***";
       echo "*********************************************";
    '

.JHBuild files: &JHB_files  [.cache/jhbuild/build/gjs/*.log, .cache/jhbuild/build/gjs/Makefile, .cache/jhbuild/build/gjs/configure]
.Coverage files: &cov_files [configure, Makefile, analysis/, ./*.log, ./*.trs, ./installed-tests/scripts/*.log, ./installed-tests/scripts/*.trs, coverage/]
.Regular files: &reg_files  [configure, Makefile, analysis/, ./*.log, ./*.trs, ./installed-tests/scripts/*.log, ./installed-tests/scripts/*.trs]
.Flatpak files: &pak_files  [./*.flatpak]

.jhbuild: &jhbuild
  artifacts:
    name: log_jhbuild
    when: always
    paths: *JHB_files

.coverage: &coverage
  artifacts:
    name: log_coverage
    when: always
    paths: *cov_files

.package: &package
  artifacts:
    name: log_package
    paths: *pak_files

# Regular build
.build: &build
  when: on_success
  artifacts:
    name: log
    when: always
    paths: *reg_files

  script:
    # CI starts here. Previous messages are from GitLab Runner setup.
    - *CI_header

    # GitLab is keeping some files between jobs. Remove them.
    - rm -rf configure Makefile *.log analysis

    # Run static code analysis	OR
    # Build GJS
    - 'if [[ -n "${CODECHECK}" ]]; then
         $(pwd)/test/test-ci.sh "$CODECHECK";
       else
         $(pwd)/test/test-ci.sh GJS;
       fi
    '

    # Run installed extra tests
    - 'if [[ $BUILD_OPTS == *"--enable-installed-tests"* ]]; then
         $(pwd)/test/test-ci.sh GJS_EXTRA;
       fi
    '

    # Run code coverage tests
    - 'if [[ $BUILD_OPTS == *"--enable-code-coverage"* ]]; then
         $(pwd)/test/test-ci.sh GJS_COVERAGE;
       fi
    '

    # Run valgrind
    - 'if [[ $BUILD_OPTS == *"--enable-valgrind"* ]]; then
         $(pwd)/test/test-ci.sh VALGRIND;
       fi
    '

    # Run the script tests again (to assure they are working)
    - 'if [[ -n "${SCRIPTCHECK}" ]]; then
         $(pwd)/test/test-ci.sh SH_CHECKS;
       fi
    '

    # Done
    - *CI_footer

# Cross (multi architecture) build
.qemu: &multiarch
  artifacts:
    name: log
    when: always
    paths: *reg_files

  image: docker:19.03.0
  services:
    - docker:19.03.0-dind
  variables:
    DOCKER_TLS_CERTDIR: ""

  script:
    # CI starts here. Previous messages are from GitLab Runner setup.
    - *CI_header

    # Register QEMU archs
    - docker run --rm --privileged multiarch/qemu-user-static:register --reset

    # Run the multiarch test job using QEMU
    - 'docker run -v $(pwd):/cwd
          -e TEST=check -e TASK_ID=$TASK_ID $IMAGE
          bash -e -c "cd /cwd && test/test-ci.sh GJS"
    '

    # Done
    - *CI_footer

#############################################
#               Regular tests               #
#############################################
# Test despite any changes in the Docker image
# SpiderMonkey has been configured with --enable-debug
build_recommended:
  <<: *build
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:job-414163_SM60-debug-gcc.fedora-dev  # pinned on purpose
  variables:
    TASK_ID: "fedora-x86_64-gcc-debug-default-check"
    TEST: "check"
    WARNINGS: "count"
    # FIXME: Add --enable-profiler
    BUILD_OPTS: >-
      --with-cairo --enable-readline
      --disable-dtrace --disable-systemtap
  except:
    - schedules

sanitizer_gcc:
  <<: *build
  stage: test
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-ubsan_asan-check"
    BUILD_OPTS: "--enable-asan --enable-ubsan"
    TEST: "check"
  except:
    - schedules

# There are a lot of debug log statements that are ifdef'd out in normal usage.
# These sometimes get invalid expressions in them, leading to annoyance the
# next time you try to use debug logging.
build_maximal:
  <<: *build
  stage: test
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-clang-default-maximal-check"
    CC: clang
    # FIXME: add --enable-profiler
    BUILD_OPTS: >-
      CPPFLAGS='-DGJS_VERBOSE_ENABLE_PROPS=1 -DGJS_VERBOSE_ENABLE_MARSHAL=1 -DGJS_VERBOSE_ENABLE_LIFECYCLE=1 -DGJS_VERBOSE_ENABLE_GI_USAGE=1 -DGJS_VERBOSE_ENABLE_GCLOSURE=1 -DGJS_VERBOSE_ENABLE_GSIGNAL=1'
      --with-cairo --enable-readline
      --enable-dtrace --enable-systemtap
    TEST: "check"
    SCRIPTCHECK: "yes"
    ENABLE_GTK: "yes"
  except:
    - schedules

build_minimal:
  <<: *build
  stage: test
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-gcc.ubuntu-dev
  variables:
    TASK_ID: "ubuntu-x86_64-gcc-default-minimal-check"
    TEST: "check"
    BUILD_OPTS: >-
      --without-cairo --disable-profiler --disable-readline
      --disable-dtrace --disable-systemtap
  except:
    - schedules

# Generates
# The Code Coverage Report
coverage-automatic:
  <<: *build
  <<: *coverage
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-gcc.fedora-dev
  variables:
    TASK_ID: "coverage"
    BUILD_OPTS: "--enable-code-coverage"
    coverage: '/^Lines:.\d+.\d+.(\d+\.\d+\%)/'
  except:
    - schedules
  only:
    refs:
      - master@GNOME/gjs

# Publishes
# The reports (coverage and code statistics)
pages:
  stage: deploy
  dependencies:
    - coverage-automatic
    - code_statistics
  script:
    - mv $(pwd)/coverage/ public/ || true
    - mv $(pwd)/analysis/report.txt public/ || true
  artifacts:
    paths:
      - public
  only:
    refs:
      - master@GNOME/gjs
  except:
    variables:
      - $CRON_TASK == "BUILD_CI_IMAGES"

#############################################
#              Static Analyzers             #
#############################################
cppcheck:
  <<: *build
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.static-analysis
  variables:
    TASK_ID: "cppcheck"
    CODECHECK: "CPPCHECK"
  except:
    - schedules
    - tags

cpplint:
  <<: *build
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.static-analysis
  variables:
    TASK_ID: "cpplint"
    CODECHECK: "CPPLINT"
  except:
    - schedules
    - tags

eslint:
  <<: *build
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.static-analysis
  variables:
    TASK_ID: "eslint"
    CODECHECK: "ESLINT"
  except:
    - schedules
    - tags

#############################################
#                Manual Jobs                #
#############################################
# Planned as daily
codequality:
  stage: manual
  image: docker:19.03.0
  variables:
    TASK_ID: "codequality"
    DOCKER_DRIVER: overlay
    DOCKER_TLS_CERTDIR: ""
  services:
    - docker:19.03.0-dind
  script:
    - docker pull codeclimate/codeclimate
    - docker run --env CODECLIMATE_CODE="$PWD" --volume "$PWD":/code --volume /var/run/docker.sock:/var/run/docker.sock --volume /tmp/cc:/tmp/cc codeclimate/codeclimate analyze -f json > codeclimate.json
  artifacts:
    paths: [codeclimate.json]
  when: manual
  except:
    - schedules

code_statistics:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.static-analysis
  variables:
    TASK_ID: "code_statistics"
    CODECHECK: "TOKEI"
  when: manual
  except:
    - schedules

coverage:
  <<: *build
  <<: *coverage
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-gcc.ubuntu-dev
  variables:
    TASK_ID: "coverage"
    BUILD_OPTS: "--enable-code-coverage"
    coverage: '/^Lines:.\d+.\d+.(\d+\.\d+\%)/'
  when: manual
  except:
    - schedules

sanitizer_clang:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-gcc.ubuntu-dev
  variables:
    TASK_ID: "ubuntu-x86_64-clang_ubsan_asan-default-default-check"
    CC: clang
    BUILD_OPTS: "--enable-asan --enable-ubsan"
    TEST: "check"
  when: manual
  except:
    - schedules

fedora_gcc:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-default-distcheck"
    TEST: "distcheck"
  when: manual
  except:
    - schedules

installed_tests:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-default-installed_tests"
    BUILD_OPTS: "--enable-installed-tests --prefix=/usr"
  when: manual
  except:
    - schedules

# Planned as weekly
ubuntu_gcc:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-gcc.ubuntu-dev
  variables:
    TASK_ID: "ubuntu-x86_64-gcc-default-default-distcheck"
    TEST: "distcheck"
  when: manual
  except:
    - schedules

ubuntu_clang:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-gcc.ubuntu-dev
  variables:
    TASK_ID: "ubuntu-x86_64-clang-default-default-distcheck"
    CC: clang
    TEST: "distcheck"
  when: manual
  except:
    - schedules

valgrind:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-default-valgrind_check"
    BUILD_OPTS: "--enable-valgrind --disable-valgrind-helgrind --prefix=/usr"
    TEST: "check"
  allow_failure: true
  when: manual
  except:
    - schedules

# Flatpak packaging (weekly)
flatpak:
  <<: *build
  <<: *package
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gnome-nightly-oci/nightly:master
  variables:
    TASK_ID: "flatpak packaging"
    CODECHECK: "FLATPAK"
    BUNDLE: "org.gnome.GjsDevel.flatpak"
    MANIFEST: org.gnome.GjsDevel.json
    RUNTIME_REPO: "https://sdk.gnome.org/gnome-nightly.flatpakrepo"

  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://gitlab.gnome.org/$CI_PROJECT_PATH/-/jobs/$CI_JOB_ID/artifacts/raw/${BUNDLE}
  when: manual
  except:
    - schedules

# SpiderMonkey GC Tests (weekly)
zeal_2:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-debug-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-debug-default-check_zeal2"
    TEST: "check"
    JS_GC_ZEAL: 2
  when: manual
  except:
    - schedules

zeal_4:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-debug-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-debug-default-check_zeal4"
    TEST: "check"
    JS_GC_ZEAL: 4
  when: manual
  except:
    - schedules

zeal_11:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:SM60-debug-gcc.fedora-dev
  variables:
    TASK_ID: "fedora-x86_64-gcc-debug-default-check_zeal11"
    TEST: "check"
    JS_GC_ZEAL: 11
  when: manual
  except:
    - schedules

# Multiarch Tests (weekly)
armv8:
  <<: *multiarch
  stage: manual
  variables:
    TASK_ID: "fedora-armv8-gcc-default-default-check"
    DOCKER_DRIVER: overlay
    IMAGE: "registry.gitlab.gnome.org/gnome/gjs:SM60-gcc.fedora-dev.aarch64"
  when: manual
  except:
    - schedules

ppc64le:
  <<: *multiarch
  stage: manual
  variables:
    TASK_ID: "fedora-ppc64le-gcc-default-default-check"
    DOCKER_DRIVER: overlay
    IMAGE: "registry.gitlab.gnome.org/gnome/gjs:SM60-gcc.fedora-dev.ppc64le"
  when: manual
  except:
    - schedules

#############################################
#          Create CI Docker Images          #
#############################################
.Docker image template: &create_docker_image
  image: docker:19.03.0
  stage: deploy
  services:
    - docker:19.03.0-dind
  only:
    variables:
      - $CRON_TASK == "BUILD_CI_IMAGES"

  script:
    # CI starts here. Previous messages are from GitLab Runner setup.
    - *CI_header

    # Skip the build (if requested)
    - |
      if [[ -z "${CI_COMMIT_MESSAGE##*[skip images]*}" && -z "${CI_COMMIT_MESSAGE##*$NAME*}" ]]; then
        echo "== Nothing to do =="
        exit 0
      fi

    # Get multiarch stuff
    - |
      if [[ -n "${TARGET_ARCH}" ]]; then
        docker run --rm --privileged multiarch/qemu-user-static:register --reset
        wget https://github.com/multiarch/qemu-user-static/releases/download/v2.12.0/x86_64_qemu-${TARGET_ARCH}-static.tar.gz
      fi

    # Build using the Dockerfile
    - |
      if [[ -n "${DOCKERFILE}" ]]; then
        docker build -f "$DOCKERFILE" -t "$CI_REGISTRY_IMAGE:$NAME" .
      fi

    # Where the real magic happens
    - |
      if [[ -n "${IMAGE}" ]]; then
        docker run --name $NAME -v $(pwd):/on-host \
          -e BASE=$BASE -e OS=$IMAGE -e BUILD_OPTS=$BUILD_OPTS -e DEV=$DEV -e CC=gcc -e STATIC=$STATIC $IMAGE \
          bash -e -c "cd /on-host && test/ci-images.sh BUILD_MOZ"
        docker commit $NAME "$CI_REGISTRY_IMAGE:$NAME"
      fi

    # Prepare to publish
    - docker tag "$CI_REGISTRY_IMAGE:$NAME" "$CI_REGISTRY_IMAGE:job-"$CI_JOB_ID"_$NAME"
    - docker images
    - docker login ${CI_REGISTRY} -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD}

    # Publish (if running on a schedule)
    - |
      if [[ "${CI_PIPELINE_SOURCE}" == "schedule" ]]; then
        docker push "$CI_REGISTRY_IMAGE"
      fi

    # Done
    - *CI_footer

fedora.static-analysis:
  <<: *create_docker_image
  variables:
    BASE: "fedora"
    DOCKER_DRIVER: overlay
    # https://about.gitlab.com/2019/07/31/docker-in-docker-with-docker-19-dot-03
    DOCKER_TLS_CERTDIR: ""
    DOCKERFILE: "test/extra/Dockerfile.fedora.static-analysis"
    NAME: "fedora.static-analysis"

SM60-gcc.fedora-dev:
  <<: *create_docker_image
  variables:
    BASE: "fedora"
    DEV: "devel"
    DOCKER_DRIVER: overlay
    # https://about.gitlab.com/2019/07/31/docker-in-docker-with-docker-19-dot-03
    DOCKER_TLS_CERTDIR: ""
    IMAGE: "fedora:rawhide"
    NAME: "SM60-gcc.fedora-dev"

SM60-debug-gcc.fedora-dev:
  <<: *create_docker_image
  variables:
    BASE: "fedora"
    BUILD_OPTS: "--enable-debug"
    DEV: "devel"
    DOCKER_DRIVER: overlay
    # https://about.gitlab.com/2019/07/31/docker-in-docker-with-docker-19-dot-03
    DOCKER_TLS_CERTDIR: ""
    IMAGE: "fedora:rawhide"
    NAME: "SM60-debug-gcc.fedora-dev"

SM60-gcc.fedora-dev.aarch64:
  <<: *create_docker_image
  variables:
    BASE: "fedora"
    DEV: "devel"
    DOCKER_DRIVER: overlay
    # https://about.gitlab.com/2019/07/31/docker-in-docker-with-docker-19-dot-03
    DOCKER_TLS_CERTDIR: ""
    DOCKERFILE: "test/extra/Dockerfile.arm64v8.fedora.29"
    IMAGE: "${CI_REGISTRY_IMAGE}:SM60-gcc.fedora-dev.aarch64"
    NAME: "SM60-gcc.fedora-dev.aarch64"
    STATIC: "qemu"
    TARGET_ARCH: "aarch64"

SM60-gcc.fedora-dev.ppc64le:
  <<: *create_docker_image
  variables:
    BASE: "fedora"
    DEV: "devel"
    DOCKER_DRIVER: overlay
    # https://about.gitlab.com/2019/07/31/docker-in-docker-with-docker-19-dot-03
    DOCKER_TLS_CERTDIR: ""
    DOCKERFILE: "test/extra/Dockerfile.ppc64le.fedora.29"
    IMAGE: "${CI_REGISTRY_IMAGE}:SM60-gcc.fedora-dev.ppc64le"
    NAME: "SM60-gcc.fedora-dev.ppc64le"
    STATIC: "qemu"
    TARGET_ARCH: "ppc64le"

SM60-gcc.ubuntu-dev:
  <<: *create_docker_image
  variables:
    BASE: "debian"
    DEV: "devel"
    DOCKER_DRIVER: overlay
    # https://about.gitlab.com/2019/07/31/docker-in-docker-with-docker-19-dot-03
    DOCKER_TLS_CERTDIR: ""
    IMAGE: "ubuntu:devel"
    NAME: "SM60-gcc.ubuntu-dev"
