services:
  - docker

stages:
- build
- failure

before_script:
  - rm -rf /cwd
  - ln -sf $(pwd) /cwd

.build: &build
  stage: build
  artifacts:
    when: always
    paths:
    - $(pwd)/.cache/jhbuild/build/gjs/test-suite.log

  script:
    # Run static code analysis OR
    # Build dependencies and 'make check' gjs
    - 'if [[ -n "${CODECHECK}" ]]; then
         $(pwd)/test/test-ci.sh "$CODECHECK";
       else
         $(pwd)/test/test-ci.sh GJS;
       fi'

    # Run extra tests
    - 'if [[ $BUILD_OPTS == *"--enable-installed-tests"* ]]; then
         $(pwd)/test/test-ci.sh GJS_EXTRA;
       fi'

ubuntu_gcc:
  <<: *build
  image: claudioandre/spidermonkey:ubuntu.1710.gcc
  variables:
    BASE: ubuntu
    OS: ubuntu.1710.gcc
    CC: gcc
    BUILD_OPTS: "--enable-installed-tests"
  only:
    - master@GNOME/gjs

fedora_gcc:
  <<: *build
  image: claudioandre/spidermonkey:fedora.26.gcc
  variables:
    BASE: fedora
    OS: fedora.26.gcc
    CC: gcc
    BUILD_OPTS: "--enable-ubsan"

fedora_cppcheck:
  <<: *build
  image: claudioandre/spidermonkey:fedora.26.gcc
  variables:
    BASE: fedora
    OS: fedora.26.gcc
    CODECHECK: "CPPCHECK"

# Failure routine
on_failure:
  stage: failure
  script:
  - echo '-- FAILURE --'
  - 'if [[ -f $(pwd)/.cache/jhbuild/build/gjs/test-suite.log ]]; then
        cat $(pwd)/.cache/jhbuild/build/gjs/test-suite.log;
    else
        echo "-- NO LOG FILE FOUND --";
    fi'
  when: on_failure
