services:
  - docker

stages:
- source_check
- test
- thorough_tests
- manual
- deploy

.Coverage files: &cov_files [configure, Makefile, ./*.log, ./*.trs, ./installed-tests/scripts/*.log, ./installed-tests/scripts/*.trs, coverage/]
.Regular files: &reg_files  [configure, Makefile, ./*.log, ./*.trs, ./installed-tests/scripts/*.log, ./installed-tests/scripts/*.trs]

.coverage: &coverage
  artifacts:
    name: log_coverage
    when: always
    paths: *cov_files

# Regular build
.build: &build
  when: on_success
  artifacts:
    name: log
    when: always
    paths: *reg_files

  script:
    # GitLab is keeping some files between jobs. Remove them.
    - rm -rf configure Makefile *.log analysis

    # Build GJS
    - test/test-ci.sh GJS

    # Run installed extra tests
    - 'if [[ $BUILD_OPTS == *"--enable-installed-tests"* ]]; then
         $(pwd)/test/test-ci.sh GJS_EXTRA;
       fi
    '

    # Run code coverage tests
    - 'if [[ $BUILD_OPTS == *"--enable-code-coverage"* ]]; then
         $(pwd)/test/test-ci.sh GJS_COVERAGE;
       fi
    '

    # Run valgrind
    - 'if [[ $BUILD_OPTS == *"--enable-valgrind"* ]]; then
         $(pwd)/test/test-ci.sh VALGRIND;
       fi
    '

    # Run the script tests again (to assure they are working)
    - 'if [[ -n "${SCRIPTCHECK}" ]]; then
         $(pwd)/test/test-ci.sh SH_CHECKS;
       fi
    '

#############################################
#               Regular tests               #
#############################################
# Test despite any changes in the Docker image
# SpiderMonkey has been configured with --enable-debug
build_recommended:
  <<: *build
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:job-443296_fedora.mozjs60-debug  # pinned on purpose
  variables:
    TASK_ID: "fedora-x86_64-gcc-debug-default-check"
    TEST: "check"
    WARNINGS: "count"
    BUILD_OPTS: >-
      --with-cairo --enable-readline --enable-profiler
      --disable-dtrace --disable-systemtap
  except:
    - schedules

sanitizer_gcc:
  <<: *build
  stage: test
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.mozjs60
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-ubsan_asan-check"
    BUILD_OPTS: "--enable-asan --enable-ubsan"
    TEST: "check"
  except:
    - schedules

# There are a lot of debug log statements that are ifdef'd out in normal usage.
# These sometimes get invalid expressions in them, leading to annoyance the
# next time you try to use debug logging.
build_maximal:
  <<: *build
  stage: test
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.mozjs60
  variables:
    TASK_ID: "fedora-x86_64-clang-default-maximal-check"
    CC: clang
    BUILD_OPTS: >-
      CPPFLAGS='-DGJS_VERBOSE_ENABLE_PROPS=1 -DGJS_VERBOSE_ENABLE_MARSHAL=1 -DGJS_VERBOSE_ENABLE_LIFECYCLE=1 -DGJS_VERBOSE_ENABLE_GI_USAGE=1 -DGJS_VERBOSE_ENABLE_GCLOSURE=1 -DGJS_VERBOSE_ENABLE_GSIGNAL=1'
      --with-cairo --enable-readline --enable-profiler
      --enable-dtrace --enable-systemtap
    TEST: "check"
    SCRIPTCHECK: "yes"
    ENABLE_GTK: "yes"
  except:
    - schedules

build_minimal:
  <<: *build
  stage: test
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.mozjs60
  variables:
    TASK_ID: "ubuntu-x86_64-gcc-default-minimal-check"
    TEST: "check"
    BUILD_OPTS: >-
      --without-cairo --disable-profiler --disable-readline
      --disable-dtrace --disable-systemtap
  except:
    - schedules

build_meson:
  stage: test
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.mozjs60
  variables:
    TASK_ID: "fedora-x86_64-gcc-meson-check"
    PKG_CONFIG_PATH: /usr/local/lib/pkgconfig
    BUILD_OPTS: >-
      -Dcairo=enabled -Dreadline=enabled -Dprofiler=enabled
      -Ddtrace=true -Dsystemtap=true -Dverbose_logs=true
  when: on_success
  except:
    - schedules
  artifacts:
    name: log
    when: always
    paths:
      - _build/compile_commands.json
      - _build/meson-logs/*log.txt

  script:
    - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib
    - meson _build $BUILD_OPTS
    - ninja -C _build
    - xvfb-run -a meson test -C _build --verbose --no-stdsplit --print-errorlogs

# Generates
# The Code Coverage Report
coverage-automatic:
  <<: *build
  <<: *coverage
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.mozjs60
  variables:
    TASK_ID: "coverage"
    BUILD_OPTS: "--enable-code-coverage"
    coverage: '/^Lines:.\d+.\d+.(\d+\.\d+\%)/'
  except:
    - schedules
  only:
    refs:
      - master@GNOME/gjs

# Publishes
# The code coverage report
pages:
  stage: deploy
  dependencies:
    - coverage-automatic
  script:
    - mv $(pwd)/coverage/ public/ || true
  artifacts:
    paths:
      - public
  only:
    refs:
      - master@GNOME/gjs
  except:
    variables:
      - $CRON_TASK == "BUILD_CI_IMAGES"

#############################################
#              Static Analyzers             #
#############################################
cppcheck:
  when: on_success
  image: uilianries/docker-cppcheck
  stage: source_check
  script:
    - cppcheck . -v -f -q --error-exitcode=1 --inline-suppr --enable=warning,performance,portability
  except:
    refs:
      - schedules
      - tags
    variables:
      - $CI_COMMIT_MESSAGE =~ /\[skip cppcheck\]/
  only:
    changes:
      - '**/*.c'
      - '**/*.cpp'
      - '**/*.h'

cpplint:
  when: on_success
  stage: source_check
  image: registry.gitlab.gnome.org/gnome/gjs:alpine.cpplint
  variables:
    TASK_ID: "cpplint"
  script:
    - test/test-ci.sh CPPLINT
  except:
    refs:
      - schedules
      - tags
    variables:
      - $CI_COMMIT_MESSAGE =~ /\[skip cpplint\]/
  only:
    changes:
      - '**/*.c'
      - '**/*.cpp'
      - '**/*.h'

eslint:
  when: on_success
  image: singapore/lint-condo
  stage: source_check
  script:
    - node /usr/src/lint-condo
  except:
    refs:
      - schedules
      - tags
    variables:
      - $CI_COMMIT_MESSAGE =~ /\[skip eslint\]/
  only:
    changes:
      - '**/*.js'

#############################################
#                Manual Jobs                #
#############################################
# Planned as daily
codequality:
  stage: manual
  image: docker:19.03.0
  variables:
    TASK_ID: "codequality"
    DOCKER_DRIVER: overlay
    DOCKER_TLS_CERTDIR: ""
  services:
    - docker:19.03.0-dind
  script:
    - docker pull codeclimate/codeclimate
    - docker run --env CODECLIMATE_CODE="$PWD" --volume "$PWD":/code --volume /var/run/docker.sock:/var/run/docker.sock --volume /tmp/cc:/tmp/cc codeclimate/codeclimate analyze -f json > codeclimate.json
  artifacts:
    paths: [codeclimate.json]
  when: manual
  except:
    - schedules

coverage:
  <<: *build
  <<: *coverage
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.mozjs60
  variables:
    TASK_ID: "coverage"
    BUILD_OPTS: "--enable-code-coverage"
    coverage: '/^Lines:.\d+.\d+.(\d+\.\d+\%)/'
  when: manual
  except:
    - schedules

sanitizer_clang:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.mozjs60
  variables:
    TASK_ID: "fedora-x86_64-clang_ubsan_asan-default-default-check"
    CC: clang
    BUILD_OPTS: "--enable-asan --enable-ubsan"
    TEST: "check"
  when: manual
  except:
    - schedules

distcheck:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.mozjs60
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-default-distcheck"
    TEST: "distcheck"
  when: manual
  except:
    - schedules

installed_tests:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.mozjs60
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-default-installed_tests"
    BUILD_OPTS: "--enable-installed-tests --prefix=/usr"
  when: manual
  except:
    - schedules

valgrind:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.mozjs60
  variables:
    TASK_ID: "fedora-x86_64-gcc-default-default-valgrind_check"
    BUILD_OPTS: "--enable-valgrind --disable-valgrind-helgrind --prefix=/usr"
    TEST: "check"
  allow_failure: true
  when: manual
  except:
    - schedules

# SpiderMonkey GC Tests (weekly)
zeal_2:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.mozjs60-debug
  variables:
    TASK_ID: "fedora-x86_64-gcc-debug-default-check_zeal2"
    TEST: "check"
    JS_GC_ZEAL: 2
  when: manual
  except:
    - schedules

zeal_4:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.mozjs60-debug
  variables:
    TASK_ID: "fedora-x86_64-gcc-debug-default-check_zeal4"
    TEST: "check"
    JS_GC_ZEAL: 4
  when: manual
  except:
    - schedules

zeal_11:
  <<: *build
  stage: manual
  image: registry.gitlab.gnome.org/gnome/gjs:fedora.mozjs60-debug
  variables:
    TASK_ID: "fedora-x86_64-gcc-debug-default-check_zeal11"
    TEST: "check"
    JS_GC_ZEAL: 11
  when: manual
  except:
    - schedules

#############################################
#          Create CI Docker Images          #
#############################################
.Docker image template: &create_docker_image
  image: docker:19.03.0
  stage: deploy
  services:
    - docker:19.03.0-dind
  only:
    variables:
      - $CRON_TASK == "BUILD_CI_IMAGES"

  script:
    # Where the real magic happens
    - docker run --name "$NAME" -v "$(pwd):/on-host" -e OS="$IMAGE" -e BUILD_OPTS="$BUILD_OPTS" -e CC=gcc -e MOZJS_BRANCH="$MOZJS_BRANCH" "$IMAGE" bash -e -c "cd /on-host && test/ci-images.sh"
    - docker commit "$NAME" "$CI_REGISTRY_IMAGE:$NAME"

    # Prepare to publish
    - docker tag "$CI_REGISTRY_IMAGE:$NAME" "$CI_REGISTRY_IMAGE:job-${CI_JOB_ID}_$NAME"
    - docker images
    - docker login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD"

    # Publish (if running on a schedule)
    - |
      if [[ "$CI_PIPELINE_SOURCE" == "schedule" ]]; then
        docker push "$CI_REGISTRY_IMAGE"
      fi

alpine.cpplint:
  <<: *create_docker_image
  script:
    # Overrides the script from create_docker_image above
    - docker build -f test/extra/Dockerfile.alpine.cpplint -t "$CI_REGISTRY_IMAGE:alpine.cpplint" .
    - docker tag "$CI_REGISTRY_IMAGE:alpine.cpplint" "$CI_REGISTRY_IMAGE:job-${CI_JOB_ID}_alpine.cpplint"
    - docker images
    - docker login "$CI_REGISTRY" -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD"
    - |
      if [[ "$CI_PIPELINE_SOURCE" == "schedule" ]]; then
        docker push "$CI_REGISTRY_IMAGE"
      fi
  variables:
    DOCKER_DRIVER: overlay
    # https://about.gitlab.com/2019/07/31/docker-in-docker-with-docker-19-dot-03
    DOCKER_TLS_CERTDIR: ""
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /\[skip images\]/ && $CI_COMMIT_MESSAGE =~ /alpine.cpplint/

fedora.mozjs60:
  <<: *create_docker_image
  variables:
    DOCKER_DRIVER: overlay
    # https://about.gitlab.com/2019/07/31/docker-in-docker-with-docker-19-dot-03
    DOCKER_TLS_CERTDIR: ""
    IMAGE: "fedora:rawhide"
    NAME: "fedora.mozjs60"
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /\[skip images\]/ && $CI_COMMIT_MESSAGE =~ /fedora.mozjs60/

fedora.mozjs60-debug:
  <<: *create_docker_image
  variables:
    BUILD_OPTS: "--enable-debug"
    DOCKER_DRIVER: overlay
    # https://about.gitlab.com/2019/07/31/docker-in-docker-with-docker-19-dot-03
    DOCKER_TLS_CERTDIR: ""
    IMAGE: "fedora:rawhide"
    NAME: "fedora.mozjs60-debug"
  except:
    variables:
      - $CI_COMMIT_MESSAGE =~ /\[skip images\]/ && $CI_COMMIT_MESSAGE =~ /fedora.mozjs60-debug/
