# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2024 Philip Chimento <philip.chimento@gmail.com>
[submodule "subprojects/gobject-introspection-tests"]
	path = subprojects/gobject-introspection-tests
	url = ../../GNOME/gobject-introspection-tests.git
    shallow = true
