services:
  - docker

stages:
- source_check
- test
- thorough_tests
- delivery

.build: &build
  when: manual
  artifacts:
    name: log
    when: always
    paths:
    - $(pwd)/.cache/jhbuild/build/gjs/*.log
    - $(pwd)/.cache/jhbuild/build/gjs/Makefile
    - $(pwd)/.cache/jhbuild/build/gjs/configure
    - $(pwd)/coverage/
    - $(pwd)/analysis/
    - $(pwd)/gjs-1.*/_build/sub/test-suite.log
    - $(pwd)/*.log
    - $(pwd)/Makefile
    - $(pwd)/configure
    - $(pwd)/*.flatpak

  script:
    # CI starts here. Previous messages are GitLab Runner setup.
    - 'echo;
       echo "*********************************************";
       echo "***     JavaScript bindings for GNOME     ***";
       echo "***        Continuous Integration         ***";
       echo "*********************************************";
       echo;
    '

    # GitLab is keeping some files between jobs. Remove them.
    - rm -rf configure Makefile *.log analysis

    # Run static code analysis	OR
    # Build GJS
    - 'if [[ -n "${CODECHECK}" ]]; then
         $(pwd)/test/test-ci.sh "$CODECHECK";
       else
         $(pwd)/test/test-ci.sh GJS;
       fi
    '

    # Run installed extra tests
    - 'if [[ $BUILD_OPTS == *"--enable-installed-tests"* ]]; then
         $(pwd)/test/test-ci.sh GJS_EXTRA;
       fi
    '

    # Run code coverage tests
    - 'if [[ $BUILD_OPTS == *"--enable-code-coverage"* ]]; then
         $(pwd)/test/test-ci.sh GJS_COVERAGE;
       fi
    '

    # Run valgrind
    - 'if [[ $BUILD_OPTS == *"--enable-valgrind"* ]]; then
         $(pwd)/test/test-ci.sh VALGRIND;
       fi
    '

    - 'echo;
       echo "*********************************************";
       echo "***             See you soon              ***";
       echo "*********************************************";
    '

#############################################
# Run a test despite of any Docker image change
#############################################
fedora:
  <<: *build
  stage: source_check
  image: claudioandre/spidermonkey:job-419.5  # pinned on purpose
  variables:
    CC: gcc
    DEV: devel
    TEST: "check"
    WARNINGS: "count"

#############################################
# Regular tests
#############################################
ubuntu_gcc:
  <<: *build
  stage: test
  image: claudioandre/spidermonkey:ubuntu.dev.gcc
  variables:
    CC: gcc
    DEV: devel
    TEST: "distcheck"
  only:
    - master@GNOME/gjs

ubuntu_clang:
  <<: *build
  stage: test
  image: claudioandre/spidermonkey:ubuntu.dev.gcc
  variables:
    CC: clang
    DEV: devel
    TEST: "distcheck"
  only:
    - master@GNOME/gjs

fedora_clang:
  <<: *build
  stage: test
  image: claudioandre/spidermonkey:new-342.4  # temporarily pinned to old tag
  variables:
    CC: clang
    DEV: devel
    TEST: "distcheck"

no_profiler:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:fedora.dev.gcc
  variables:
    CC: gcc
    DEV: devel
    TEST: "check"
    BUILD_OPTS: "--disable-profiler"

installed_tests:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:ubuntu.dev.gcc
  variables:
    CC: clang
    DEV: devel
    BUILD_OPTS: "--enable-installed-tests --prefix=/usr"

coverage:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:fedora.27.gcc
  variables:
    CC: gcc
    BUILD_OPTS: "--enable-code-coverage"
    coverage: '/^Lines:.\d+.\d+.(\d+\.\d+\%)/'
  except:
    - /^wip\/.*/

sanitizer_gcc:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:fedora.dev.gcc
  variables:
    CC: gcc
    DEV: devel
    TEST: "check"
    BUILD_OPTS: "--enable-asan --enable-ubsan"

sanitizer_clang:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:new-342.4  # temporarily pinned to old tag
  variables:
    CC: clang
    DEV: devel
    TEST: "check"
    BUILD_OPTS: "--enable-asan --enable-ubsan"
  only:
    - master@GNOME/gjs

codequality:
  stage: thorough_tests
  image: docker:latest
  variables:
    DOCKER_DRIVER: overlay
  services:
    - docker:dind
  script:
    - docker pull codeclimate/codeclimate
    - docker run --env CODECLIMATE_CODE="$PWD" --volume "$PWD":/code --volume /var/run/docker.sock:/var/run/docker.sock --volume /tmp/cc:/tmp/cc codeclimate/codeclimate analyze -f json > codeclimate.json
  artifacts:
    paths: [codeclimate.json]
  only:
    - master@GNOME/gjs

#############################################
# Static Analyzers
#############################################
cppcheck:
  <<: *build
  stage: source_check
  image: claudioandre/spidermonkey:fedora.static.analysis
  variables:
    CODECHECK: "CPPCHECK"

cpplint:
  <<: *build
  stage: source_check
  image: claudioandre/spidermonkey:fedora.static.analysis
  variables:
    CODECHECK: "CPPLINT"

eslint:
  <<: *build
  stage: source_check
  image: claudioandre/spidermonkey:fedora.static.analysis
  variables:
    CODECHECK: "ESLINT"

code_statistics:
  <<: *build
  stage: source_check
  image: claudioandre/spidermonkey:fedora.static.analysis
  variables:
    CODECHECK: "TOKEI"
  only:
    - master@GNOME/gjs

#############################################
# Publish the Code Coverage Report
#############################################
pages:
  stage: delivery
  dependencies:
    - coverage
  script:
    - mv $(pwd)/coverage/ public/
  artifacts:
    paths:
      - public
  only:
    - master@GNOME/gjs

#############################################
# Optional / Manual CI tests
#############################################
valgrind:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:fedora.dev.gcc
  variables:
    CC: gcc
    DEV: devel
    BUILD_OPTS: "--enable-valgrind --disable-valgrind-helgrind --prefix=/usr"
  allow_failure: true
  when: manual

no_graphics:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:fedora.dev.gcc
  variables:
    CC: gcc
    DEV: devel
    TEST: "check"
    BUILD_OPTS: "--without-cairo --without-gtk"
  when: manual

lts:
  <<: *build
  stage: thorough_tests
  image: claudioandre/spidermonkey:ubuntu.lts.gcc
  variables:
    CC: gcc
    TEST: "check"
  when: manual

#############################################
# Flatpak packaging
#############################################
packaging:
  <<: *build
  stage: delivery
  image: registry.gitlab.gnome.org/gnome/gnome-nightly-oci/nightly:master
  variables:
    CODECHECK: "FLATPAK"
    APPID: "org.gnome.GjsDevel"
    BUNDLE: "org.gnome.GjsDevel.flatpak"
    MANIFEST_PATH: "org.gnome.GjsDevel.json"
    RUNTIME_REPO: "https://sdk.gnome.org/gnome-nightly.flatpakrepo"

  environment:
    name: review/$CI_COMMIT_REF_NAME
    url: https://gitlab.gnome.org/$CI_PROJECT_PATH/-/jobs/$CI_JOB_ID/artifacts/raw/${BUNDLE}
  when: manual

#############################################
# Create CI Docker Images
#############################################
.images_template: &create_images
  image: docker:latest
  variables:
    DOCKER_DRIVER: overlay
  services:
    - docker:dind
  script:
    # CI starts here. Previous messages are GitLab Runner setup.
    - 'echo;
       echo "*********************************************";
       echo "***     JavaScript bindings for GNOME     ***";
       echo "***         Docker Image Creation         ***";
       echo "*********************************************";
       echo;
    '

    # Should the image be created?
    - 'if [[ "$GJS_EVENT_TYPE" == "cron" || "$log_message" == *"[build images]"* ]]; then
         echo -e "\n*** BUILDING ***\n";
       else
         echo -e "\n*** NOTHING TO DO ***\n";
         exit 0;
       fi
    '

    # Where the real magic happens
    - 'docker run -v $(pwd):/cwd -v $(pwd)/test/build-images-ci.sh:/build-images-ci.sh
         -e BASE=$BASE -e OS=$IMAGE -e BUILD_OPTS=$BUILD_OPTS -e DEV=$DEV -e CC=gcc -e STATIC=$STATIC $IMAGE
         bash -e -c "cd /cwd && test/build-images-ci.sh BUILD_MOZ"
    '
    - 'docker run --name $NAME -v $(pwd):/saved -v $(pwd)/test/build-images-ci.sh:/build-images-ci.sh
         -e BASE=$BASE -e OS=$IMAGE -e DEV=$DEV -e CC=gcc -e STATIC=$STATIC $IMAGE
         bash -e -c "cd /saved && test/build-images-ci.sh GET_FILES DOCKER"
    '
    - docker commit $NAME $REPO:$NAME

    # Test the build (if requested)
    - 'if [[ "$log_message" == *"[run test]"* && "$log_message" == *"[$NAME]"* ]]; then
         rm -rf gjs && git clone https://github.com/GNOME/gjs.git && cd gjs;
         docker run -v $(pwd):/cwd -e DEV=devel -e TEST=check -e CC=gcc $REPO:$NAME bash -e -c "cd /cwd && test/build-images-ci.sh GJS";
       fi
    '

    # Prepare to publish
    - docker tag $REPO:$NAME $REPO:job-$CI_JOB_ID
    - docker images
    - docker login registry.gitlab.gnome.org -u $DOCKER_USER -p $DOCKER_PASS

    # Do not push (if requested)
    - 'if [[ "$GJS_EVENT_TYPE" == "cron" || "$log_message" != *"[dont push]"* ]]; then
         docker push $REPO;
       fi
    '

    - 'echo;
       echo "*********************************************";
       echo "***             See you soon              ***";
       echo "*********************************************";
    '

fedora.static.analysis:
  <<: *create_images
  stage: delivery
  variables:
    BASE: "fedora"
    IMAGE: "fedora:rawhide"
    NAME: "fedora.static.analysis"
    REPO: "registry.gitlab.gnome.org/claudioandre/gjs"
    STATIC: "yes"
  when: always

ubuntu.lts.gcc:
  <<: *create_images
  stage: delivery
  variables:
    BASE: "debian"
    IMAGE: "ubuntu:18.04"
    NAME: "ubuntu.lts.gcc"
    REPO: "registry.gitlab.gnome.org/claudioandre/gjs"
  when: manual
