language: c
dist: trusty

cache:
  directories:
    - ~/docker

matrix:
  include:
  - env: BASE=ubuntu IMAGE=ubuntu:latest  CCO=gcc

  - env: BASE=ubuntu IMAGE=ubuntu:latest  CCO=clang

  - env: BASE=ubuntu IMAGE=ubuntu:rolling CCO=gcc

  - env: BASE=ubuntu IMAGE=ubuntu:rolling CCO=gcc

  - env: BASE=fedora IMAGE=fedora:latest  CCO=gcc

  - env: BASE=fedora IMAGE=fedora:latest  CCO=clang

before_install:
  - cd ..
  - git clone --depth 1 https://github.com/GNOME/jhbuild.git

before_script:
  - export NAME=$(echo $IMAGE | sed "s/:/_/g")

  # Check if there is a saved base image
  - if [[ -f ~/docker/$NAME.tar.gz ]]; then cat ~/docker/$NAME.tar.gz | docker import - local/$NAME; fi

  # Build the base image, if necessary
  - 'if [[ ! -f ~/docker/$NAME.tar.gz ]]; then
      docker run -v $(pwd):/cwd -v $(pwd)/gjs/test/travis-ci.sh:/travis-ci.sh -e BASE="$BASE" -e OS="$IMAGE" -e CC="gcc" "$IMAGE" bash -e -c "/travis-ci.sh BUILD_MOZ";
      docker run --name $NAME -v $(pwd):/cwd -v $(pwd)/gjs/test/travis-ci.sh:/travis-ci.sh -e BASE="$BASE" -e OS="$IMAGE" -e CC="$CCO" "$IMAGE" bash -e -c "/travis-ci.sh GET_FILES";
      docker commit $NAME local/$NAME;
      mkdir -p ~/docker; docker export $NAME | gzip > ~/docker/$NAME.tar.gz;
    fi'

script:
  - docker run -v $(pwd):/cwd -v $(pwd)/gjs/test/travis-ci.sh:/travis-ci.sh -e BASE="$BASE" -e OS="$IMAGE" -e CC="$CCO" -e BUILD_OPTS="$BUILD_OPTS" local/$NAME bash -e -c "/travis-ci.sh GJS"

after_failure:
  - echo '-- FAILURE --'
  - 'if [[ -f $(pwd)/.cache/jhbuild/build/gjs/test-suite.log ]]; then
        cat $(pwd)/.cache/jhbuild/build/gjs/test-suite.log;
    else
        echo "-- NO LOG FILE FOUND --";
    fi'
