# SPDX-License-Identifier: MIT OR LGPL-2.0-or-later
# SPDX-FileCopyrightText: 2018 Philip Chimento <philip.chimento@gmail.com>

# This is the toplevel CPPLINT.cfg file
set noparent

# We give a limit to clang-format of 80, but we allow 100 here for cases where
# it really is more readable to have a longer line
linelength=100

# Exceptions to Google style

# This rule bans certain C++ standard library features, which have their own
# alternatives in the Chromium codebase, doesn't apply to us.
filter=-build/c++11

# We have a special order for include files, see "Header inclusion order" in
# CPP_Style_Guide.md.
filter=-build/include_order

# This is covered by the IWYU tool, which cpplint sometimes contradicts.
filter=-build/include_what_you_use

# https://github.com/cpplint/cpplint/issues/406
filter=-readability/braces:modules/cairo-region.cpp

# https://github.com/cpplint/cpplint/issues/298
filter=-readability/nolint

# In many places the types forbidden by runtime/int are required by GLib APIs.
filter=-runtime/int

# https://github.com/cpplint/cpplint/issues/373
filter=-whitespace/braces:gjs/mem.cpp
filter=-whitespace/braces:modules/cairo-memory.cpp

# https://github.com/cpplint/cpplint/issues/372
filter=-whitespace/indent_namespace

# These top-level folders are excluded. Note that to exclude individual files,
# they have to be listed in that folder's CPPLINT.cfg.
exclude_files=subprojects
exclude_files=_.*build
